.cover__title {
  font-family: "Inter-Black";
  font-size: 72px;
  text-align: center;
  color: #fff;
  margin: 0;
  width: min-content;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 320px) {
}
